@mixin clearfix{
	&:after{
		content:" ";
		display:table;
		clear:both;
	}
}

.pager-header{
	@include clearfix;
	position: fixed;
	top: 0rem;
	padding: 2rem 0;
	width: calc(100% - #{$frame-padding * 2});
	height: auto;
	background-color: rgba(255, 255, 255, 0.85);
	z-index: 5;

	.search-input{
		$input-border-color: black;
		// @extend .form-control;
		border-color: $input-border-color;
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 0.5rem;
		width: auto;
		display: inline-block;
		&:active,
		&:focus{
			border-color: $input-border-color;
		}
	}
	.pagination{
		text-align: center;
		float: right;
		margin: 0;
		a{
			display: inline-block;
			padding: 0.5rem 1rem;
			font-size: 1.25rem;
			&:hover{
				background-color: black;
				color: white;
			}
		}
	}
}